doctype html
html(ng-app='ContactApp')
  head
    title= title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' )
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css' )
    link(rel='stylesheet', href='bower_components/angular-datatables/dist/css/angular-datatables.min.css' )
  body
    block content
    script(type='text/javascript', src='https://code.jquery.com/jquery-2.2.4.js')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js')
    script(type='text/javascript', src='javascripts/controller.js')
    script(type='text/javascript', src='bower_components/angular-datatables/dist/angular-datatables.min.js' )
